/* Animation keyframes */
@keyframes shadow-inset-center {
    0% {
        box-shadow: inset 0 0 0 0 transparent;
    }

    to {
        box-shadow: inset 0 0 14px 0 rgb(0 0 0/50%);
    }
}

@keyframes shine {
    0% {
        background-position: 0;
    }

    60% {
        background-position: 180px;
    }

    100% {
        background-position: 360px;
    }
}

@keyframes slide-from-left {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}

/* Element customizations */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
}

/* Navigation */
.nav {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo1-icon {
    position: absolute;
    width: 112px;
    right: 30%;
    height: 117px;
    object-fit: cover;
}

/* .navbar {
    position: relative;
    right: 100px;
    width: 100vw;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} */

#navbar-title {
    transition: 0.5s ease;
}

.navbar-normal {
    height: 133px;
}

.navbar-normal > .logo1-icon {
    width: auto;
    position: relative;
    height: 117px;
    object-fit: cover;
    transition: 0.5s ease;
}

.navbar-minimized {
    height: 75px;
}

.navbar-minimized > .logo1-icon {
    width: auto;
    position: relative;
    height: 75px;
    object-fit: cover;
    transition: 0.5s ease;
}
